@use "../global/var.scss";

.advantages__list {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  background-color: var.$gray-light;

  @media (min-width: var.$tablet-width) {
    padding: 0 33px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 50px;
  }

  &--image {
    padding: 0;

    @media (min-width: var.$tablet-width) {
      display: flex;
      grid-column-start: 1;
      grid-column-end: -1;
    }
    background-color: var.$blue;
  }

  &--image-reverse {
    @media (min-width: var.$tablet-width) {
      flex-direction: row-reverse;
    }
  }

  &--icon {
    background-color: var.$white;

    @media (min-width: var.$tablet-width) {
      padding: 158px 0 60px;
    }

    @media (min-width: var.$desktop-width) {
      padding: 169px 0 69px;
    }
  }
}

.advantages__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 191px;

  @media (min-width: var.$tablet-width) {
    min-height: 256px;
  }

  &--image {
    @media (max-width: 767px) {
      min-height: 191px;
    }

    @media (min-width: var.$tablet-width) {
      width: 256px;
    }

    @media (min-width: var.$desktop-width) {
      width: 400px;
    }
    color: var.$white;
  }

  &--icon {
    @media (max-width: 767px) {
      min-height: 142px;
      padding-left: 47px;
    }

    @media (min-width: var.$tablet-width) {
      min-height: 114px;
      padding-left: 0;
    }
  }

  &--bottom {
    @media (max-width: 767px) {
      min-height: 165px;
    }
  }
}

.advantages__title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 20px;
  }

  &--icon {
    margin-bottom: 16px;
    text-align: left;

    @media (min-width: var.$tablet-width) {
      margin-bottom: 34px;
      text-align: center;
    }
  }
}

.advantages__number {
  margin-bottom: 17px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 34px;
  }
}

.advantages__discription {
  text-align: center;
  text-transform: uppercase;
  color: var.$gray-dark;

  &--image {
    color: var.$white;
  }

  &--icon {
    text-align: left;

    @media (min-width: var.$tablet-width) {
      text-align: center;
    }
  }
}

.advantages__photo {
  &--mobile {
    @media (min-width: var.$tablet-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: 767px), (min-width: var.$desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media (max-width: 1199px) {
      display: none;
    }
  }
}
