@use "../global/var.scss";

.advantages {
  position: relative;

  @media (max-width: 767px) {
    &::before {
      position: absolute;
      left: 0;
      top: -22px;
      width: 100%;
      height: 37px;
      background: url("../../img/index-img/icon/divider-mobile-down.svg") no-repeat;
      content: "";
    }
  }
}

.advantages__list {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;
  background-color: var.$gray-light;

  @media (min-width: var.$tablet-width) {
    padding: 0 33px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 50px;
  }

  &--image {
    padding: 0;

    @media (min-width: var.$tablet-width) {
      display: flex;
      grid-column-start: 1;
      grid-column-end: -1;
    }
    background-color: var.$blue;
  }

  &--image-reverse {
    @media (min-width: var.$tablet-width) {
      flex-direction: row-reverse;
    }
  }

  &--icon {
    background-color: var.$white;

    @media (min-width: var.$tablet-width) {
      padding: 158px 0 60px;
    }

    @media (min-width: var.$desktop-width) {
      padding: 169px 0 48px;
    }
  }

  &--souvenirs {
    @media (max-width: 767px) {
      margin: -25px 0 17px;
    }

    @media (min-width: var.$tablet-width) {
      padding-top: 154px;
    }

    @media (min-width: var.$desktop-width) {
      padding-top: 172px;
    }
  }

  &--bottom {
    @media (max-width: 767px) {
      &::before {
        position: absolute;
        left: 18px;
        width: 284px;
        height: 1px;
        background-color: #d6d6d6;
        content: "";
      }
    }
  }
}

.advantages__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 191px;

  @media (min-width: var.$tablet-width) {
    justify-content: stretch;
    min-height: 256px;
  }

  &--image {
    @media (max-width: 767px) {
      min-height: 191px;
    }

    @media (min-width: var.$tablet-width) {
      width: 256px;
      padding-top: 53px;
    }

    @media (min-width: var.$desktop-width) {
      width: 400px;
    }
    color: var.$white;
  }

  &--city {
    @media (max-width: 767px) {
      margin-bottom: 14px;
    }
  }

  &--icon {
    position: relative;

    @media (max-width: 767px) {
      min-height: 142px;
      padding-left: 65px;
    }

    @media (min-width: var.$tablet-width) {
      min-height: 112px;
      padding-left: 0;
    }

    &::before {
      position: absolute;
      content: "";
    }
  }

  &--house {
    &::before {
      left: 18px;
      top: 24px;
      width: 39px;
      height: 37px;
      background: url("../../img/index-img/icon/house-icon-mobile.svg") no-repeat;

      @media (min-width: var.$tablet-width) {
        top: -99px;
        left: 87px;
        width: 77px;
        height: 72px;
        background: url("../../img/index-img/icon/house-icon-tablet.svg") no-repeat;
      }

      @media (min-width: var.$desktop-width) {
        top: -100px;
        left: 159px;
        width: 80px;
        height: 73px;
        background: url("../../img/index-img/icon/house-icon-desktop.svg") no-repeat;
      }
    }
  }

  &--food {
    &::before {
      left: 18px;
      top: 22px;
      width: 40px;
      height: 35px;
      background: url("../../img/index-img/icon/burger-icon-mobile.svg") no-repeat;

      @media (min-width: var.$tablet-width) {
        top: -97px;
        left: 87px;
        width: 76px;
        height: 69px;
        background: url("../../img/index-img/icon/burger-icon-tablet.svg") no-repeat;
      }

      @media (min-width: var.$desktop-width) {
        top: -98px;
        left: 159px;
        width: 76px;
        height: 69px;
        background: url("../../img/index-img/icon/burger-icon-desktop.svg") no-repeat;
      }
    }
  }

  &--souvenirs {
    &::before {
      left: 23px;
      top: 20px;
      width: 32px;
      height: 38px;
      background: url("../../img/index-img/icon/gift-icon-mobile.svg") no-repeat;

      @media (min-width: var.$tablet-width) {
        top: -91px;
        left: 96px;
        width: 67px;
        height: 75px;
        background: url("../../img/index-img/icon/gift-icon-tablet.svg") no-repeat;
      }

      @media (min-width: var.$desktop-width) {
        top: -104px;
        left: 159px;
        width: 78px;
        height: 76px;
        background: url("../../img/index-img/icon/gift-icon-desktop.svg") no-repeat;
      }
    }
  }

  &--bottom {
    @media (max-width: 767px) {
      min-height: 167px;
    }

    @media (min-width: var.$tablet-width) {
      padding-top: 52px;
    }

    @media (min-width: var.$desktop-width) {
      padding-top: 65px;
    }
  }

  &--road {
    @media (min-width: var.$tablet-width) {
      padding-top: 43px;
    }

    @media (min-width: var.$desktop-width) {
      padding-top: 53px;
    }
  }
}

.advantages__title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 20px;
    font-size: 21px;
  }

  &--image {
    @media (max-width: 767px) {
      margin-top: 23px;
    }

    @media (min-width: var.$tablet-width) {
      margin-bottom: 13px;
    }
  }

  &--icon {
    margin-bottom: 16px;
    text-align: left;

    @media (min-width: var.$tablet-width) {
      margin-bottom: 22px;
      text-align: center;
    }
  }

  &--house {
    @media (max-width: 767px) {
      margin-top: 26px;
    }
  }

  &--bottom {
    @media (min-width: var.$tablet-width) {
      margin-bottom: 14px;
    }
  }
}

.advantages__number {
  margin-bottom: 17px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages__description {
  text-align: center;
  text-transform: uppercase;
  color: var.$gray-dark;

  &--image {
    color: var.$white;
  }

  &--icon {
    text-align: left;

    @media (min-width: var.$tablet-width) {
      text-align: center;
    }
  }
}

.advantages__photo {
  width: 100%;
  height: auto;
}
