@use "../global/var.scss";

.catalog {
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: var.$tablet-width) {
    max-width: 648px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 1200px;
  }
}

.catalog__list {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: var.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  position: relative;
  padding: 24px 0 26px;

  &:first-child {
    grid-column-start: 1;
    grid-column-end: -1;

    &::before {
      position: absolute;
      left: -20px;
      top: 0;
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
      content: "";

      @media (min-width: var.$tablet-width) {
        display: none;
      }
    }
  }

  &::after {
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    content: "";

    @media (min-width: var.$tablet-width) {
      display: none;
    }
  }

  @media (min-width: var.$tablet-width) {
    padding: 0;
  }
}

.catalog__photo {
  width: 100%;
  height: auto;
}

.catalog__sign-wrapper {
  @media (min-width: var.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: var.$gray-input;
  }

  @media (min-width: var.$desktop-width) {
    position: relative;
    margin-top: -80px;
    color: var.$white;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--bottom {
    @media (min-width: var.$desktop-width) {
      padding-top: 21px;
      padding-left: 26px;
    }
  }
}

.catalog__sign {
  margin-bottom: 11px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 0;
  }
}

.catalog__title {
  margin-top: 15px;
  font-weight: 700;
  font-size: var.$small-font-size;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    margin-top: 0;
  }
}

.catalog__author {
  color: var.$gray-dark;

  @media (min-width: var.$desktop-width) {
    color: var.$white;
  }
}

.catalog__like-button {
  margin-right: 11px;
  background-color: transparent;

  &:hover {
    .catalog__like-icon {
      opacity: 0.6;
    }
  }

  &:active {
    .catalog__like-icon {
      opacity: 0.6;
    }
  }

  @media (min-width: var.$tablet-width) {
    margin-right: 4px;
  }
}

.catalog__like-icon {
  fill: rgba(0, 0, 0, 0.3);

  @media (min-width: var.$desktop-width) {
    fill: var.$white;
  }
}

.catalog__like {
  &--counter {
    font-weight: 700;
    vertical-align: text-bottom;
    text-transform: uppercase;
  }
}
