@use "../global/var.scss";

.catalog-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 0 25px;
  background: url("../../img/hero-bg.jpg") no-repeat 0 -56px;

  @media (min-resolution: var.$retina) {
    background: url("../../img/hero-bg@2x.jpg") no-repeat top 0 /100% 158px;
  }

  @media (min-width: var.$tablet-width) {
    padding: 95px 0 67px;
    background: url("../../img/hero-bg-tab.jpg") no-repeat 0 -56px;

    @media (min-resolution: var.$retina) {
      background: url("../../img/hero-bg-tab@2x.jpg") no-repeat top 0 /100% 290px;
    }
  }

  @media (min-width: var.$desktop-width) {
    padding: 101px 0 65px;
    background: url("../../img/hero-bg-ds.jpg") no-repeat 0 -56px;

    @media (min-resolution: var.$retina) {
      background: url("../../img/hero-bg-ds@2x.jpg") no-repeat top 0 /100% 301px;
    }
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 186px;
    width: 100%;
    height: 57px;
    background: url("../../img/devider-mobile.svg") no-repeat;
    content: "";

    @media (min-width: var.$tablet-width) {
      bottom: 236px;
      background: url("../../img/devider-tablet.svg") no-repeat;
    }

    @media (min-width: var.$desktop-width) {
      bottom: 266px;
      background: url("../../img/devider-desktop.svg") no-repeat;
    }
  }
}

.catalog-intro__hero {
  margin-bottom: 104px;

  @media (min-width: var.$tablet-width) {
    width: 457px;
    height: 78px;
    margin-bottom: 183px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 220px;
  }
}

.catalog-intro__title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    font-size: 30px;
  }
}

.catalog-intro__discription {
  text-align: center;
  text-transform: uppercase;
  color: var.$gray-dark;
}
