@use "../global/var.scss";
@use "../global/mixins.scss";

.feedback {
  padding: 24px 20px;

  @media (min-width: var.$tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 120px 24px;
  }
}

.feedback__form {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 88px;
  }

  @media (min-width: var.$desktop-width) {
    gap: 56px 128px;
  }
}

.feedback__group {
  position: relative;
  margin: 24px 0 34px;

  .feedback__input {
    width: 100%;
  }

  @media (max-width: 767px) {
    &::before {
      position: absolute;
      left: -20px;
      top: -70px;
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
      content: "";
    }
  }

  @media (min-width: var.$tablet-width) {
    margin: 0;
  }
}

.feedback__group-name {
  margin: 0 0 64px;

  .feedback__legend {
    @media (min-width: var.$tablet-width) {
      padding-left: 42px;
    }

    @media (min-width: var.$desktop-width) {
      padding-left: 64px;
    }
  }

  @media (min-width: var.$tablet-width) {
    width: 280px;
    margin: 0;

    &::after {
      position: absolute;
      top: -54px;
      right: -43px;
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
      content: "";

      @media (min-width: var.$desktop-width) {
        right: -63px;
      }
    }
  }

  @media (min-width: var.$desktop-width) {
    width: 430px;
  }
}

.feedback__group-contact {
  margin: 0 0 45px;

  .feedback__legend {
    @media (min-width: var.$tablet-width) {
      margin-left: -19px;
    }

    @media (min-width: var.$desktop-width) {
      margin-left: -32px;
    }
  }

  @media (min-width: var.$tablet-width) {
    padding-left: 0;
    margin: 0 0 0 -42px;
  }

  @media (min-width: var.$desktop-width) {
    padding-left: 0;
    margin-left: -51px;
  }
}

.feedback__input-wrapper {
  display: flex;
}

.feedback__icon-wrapper {
  max-height: 58px;
  padding: 20px;
  background-color: #e6e6e6;
}

.feedback__group-radio,
.feedback__group-checkbox {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 0 59px;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 -3px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 17px;
  }

  .feedback__legend {
    margin-bottom: 30px;

    @media (min-width: var.$desktop-width) {
      margin-bottom: 60px;
    }
  }
}

.feedback__group-radio,
.feedback__group-checkbox,
.feedback__group-textarea {
  .feedback__legend {
    position: relative;

    @media (min-width: var.$tablet-width) {
      &::before,
      &::after {
        position: absolute;
        top: 11px;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
        content: "";
      }

      &::before {
        left: -68%;
      }

      &::after {
        right: -68%;
      }
    }

    @media (min-width: var.$desktop-width) {
      &::before,
      &::after {
        width: 280px;
      }

      &::before {
        left: -156%;
      }

      &::after {
        right: -156%;
      }
    }
  }
}

.feedback__group-textarea {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 0 49px;

  @media (min-width: var.$tablet-width) {
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 96px;
  }

  .feedback__legend {
    &::before {
      left: -100%;
    }

    &::after {
      right: -100%;
    }

    @media (min-width: var.$desktop-width) {
      &::before {
        left: -171%;
      }

      &::after {
        right: -171%;
      }
    }
  }
}

.feedback__group-radioline {
  .feedback__legend {
    @media (min-width: var.$desktop-width) {
      margin-bottom: 46px;

      &::before {
        left: -126%;
      }

      &::after {
        right: -126%;
      }
    }
  }

  &::before {
    top: -83px;
  }
}

.feedback__group-checkboxline {
  @media (min-width: var.$desktop-width) {
    margin-bottom: 30px;
  }

  .feedback__legend {
    @media (min-width: var.$tablet-width) {
      &::before {
        top: 27px;
        left: -67%;
      }

      &::after {
        top: 27px;
        right: -69%;
      }
    }

    @media (min-width: var.$desktop-width) {
      &::before {
        top: 25px;
        left: -124%;
      }

      &::after {
        top: 25px;
        right: -124%;
      }
    }
  }

  &::before {
    top: -109px;
  }
}

.feedback__group-textarealine {
  .feedback__legend {
    @media (min-width: var.$tablet-width) {
      &::before {
        top: 10px;
        left: -79%;
      }

      &::after {
        top: 10px;
        right: -80%;
      }
    }

    @media (min-width: var.$desktop-width) {
      &::before {
        top: 12px;
        left: -142%;
      }

      &::after {
        top: 12px;
        right: -142%;
      }
    }
  }

  &::before {
    top: -73px;
  }
}

.feedback__legend {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 27px;
    font-size: 21px;
  }
}

.feedback__legend-textarea {
  @media (min-width: var.$tablet-width) {
    margin-bottom: 25px;
  }
}

.feedback__label {
  margin-left: 16px;
  text-transform: uppercase;
  color: var.$gray-dark;
}

.feedback__input {
  margin: 0;
  padding: 16px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  background-color: var.$gray-input;
  cursor: pointer;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:last-child {
    @media (min-width: var.$tablet-width) {
      margin-bottom: 15px;
    }
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: var.$white;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}

.feedback__list {
  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feedback__list-checkbox {
  .feedback__item:nth-child(3n) {
    @media (min-width: var.$desktop-width) {
      margin-right: -17px;
    }
  }
}

.feedback__group-radio {
  .feedback__list {
    @media (min-width: var.$tablet-width) {
      gap: 16px 17px;
      padding-left: 36px;
    }

    @media (min-width: var.$desktop-width) {
      gap: 16px 28px;
      padding-left: 53px;
    }
  }

  .feedback__item {
    @media (min-width: var.$tablet-width) {
      width: 280px;
      padding: 10px 10px 10px 0;
    }
  }
}

.feedback__group-checkbox {
  .feedback__list {
    @media (min-width: var.$tablet-width) {
      gap: 16px 62px;
      padding: 0 84px;
    }

    @media (min-width: var.$desktop-width) {
      gap: 16px 41px;
      padding: 0 0 0 44px;
    }
  }

  .feedback__item {
    @media (min-width: var.$tablet-width) {
      padding: 10px 10px 10px 0;
      width: 194px;
    }

    @media (min-width: var.$desktop-width) {
      padding: 10px 0;
    }
  }
}

.feedback__item:not(:last-child) {
  margin-bottom: 36px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 0;
  }
}

.feedback__control {
  position: relative;
  display: block;
  margin-left: 62px;
  cursor: pointer;
}

.feedback__control-mark {
  position: absolute;
  top: -12px;
  left: -60px;
  width: 46px;
  height: 46px;
  background-color: var.$gray-input;
  cursor: pointer;
}

.feedback__control-mark-radio {
  border-radius: 50%;
}

.feedback__control-mark-checkbox {
  border-radius: 4px;
}

input[type="radio"]:checked + .feedback__control-mark-radio::before {
  position: absolute;
  top: 15px;
  left: 14px;
  width: 16px;
  height: 16px;
  background-color: var.$gray-dark;
  border-radius: 50%;
  content: "";
}

input[type="checkbox"]:checked + .feedback__control-mark-checkbox::before {
  position: absolute;
  top: 15px;
  left: 11px;
  width: 22px;
  height: 16px;
  background-image: url("../../img/form-img/icon/form-tick-icon.svg");
  content: "";
}

.feedback__control-input:hover + .feedback__control-mark {
  background-color: #e5e5e5;
}

.feedback__control-input:active + .feedback__control-mark {
  background-color: #d5d5d5;

  &::before {
    opacity: 0.3;
  }
}

.feedback__control-label {
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
}

.feedback__input-textarea {
  width: 100%;
  height: 150px;

  @media (min-width: var.$tablet-width) {
    height: 160px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: var.$desktop-width) {
    padding-top: 19px;
  }
}

.feedback__button {
  padding: 16px 49px;
  width: 100%;
  font-size: 21px;

  @media (min-width: var.$tablet-width) {
    width: 324px;
    margin-top: -6px;
  }

  @media (min-width: var.$desktop-width) {
    width: 384px;
    margin-top: -11px;
    margin-left: 96px;
  }
}

.feedback__note {
  display: block;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: var.$tablet-width) {
    margin-top: 16px;
    font-size: var.$small-font-size;
  }

  @media (min-width: var.$desktop-width) {
    margin-top: 12px;
    margin-right: 96px;
  }
}
