@use "../global/var.scss";
@use "../global/mixins.scss";

.feedback {
  padding: 24px 20px;

  @media (min-width: var.$tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    border-top: none;
  }

  @media (min-width: var.$desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback__form {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.feedback__group {
  position: relative;
  margin: 24px 0 34px;

  &::before {
    position: absolute;
    left: -20px;
    top: -70px;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    content: "";
  }

  @media (min-width: var.$tablet-width) {
    margin: 0;
  }
}

.feedback__group-name {
  margin: 0 0 64px;

  @media (min-width: var.$tablet-width) {
    margin: 0;
    padding-right: 43px;
  }

  .feedback__input {
    width: 100%;
  }
}

.feedback__group-contact {
  margin: 0 0 59px;

  @media (min-width: var.$tablet-width) {
    padding-left: 44px;
  }

  .feedback__input {
    max-width: 222px;
  }
}

.feedback__input-wrapper {
  display: flex;
}

.feedback__icon-wrapper {
  max-height: 58px;
  padding: 20px;
  background-color: #e6e6e6;
}

.feedback__group-radio,
.feedback__group-checkbox {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 0 59px;

  .feedback__legend {
    margin-bottom: 30px;
  }
}

.feedback__group-checkbox {
  &::before {
    top: -94px;
  }
}

.feedback__legend {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  text-transform: uppercase;
  text-align: center;
}

.feedback__label {
  margin-left: 16px;
  text-transform: uppercase;
  color: var.$gray-dark;
}

.feedback__input {
  padding: 16px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  background-color: var.$gray-input;
  cursor: pointer;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: var.$white;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}

.feedback__list {
  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feedback__item:not(:last-child) {
  margin-bottom: 36px;
}

.feedback__control {
  position: relative;
  display: block;
  margin-left: 62px;
  cursor: pointer;
}

.feedback__control-mark {
  position: absolute;
  top: -12px;
  left: -60px;
  width: 46px;
  height: 46px;
  background-color: var.$gray-input;
  cursor: pointer;
}

.feedback__control-mark-radio {
  border-radius: 50%;
}

.feedback__control-mark-checkbox {
  border-radius: 4px;
}

input[type="radio"]:checked + .feedback__control-mark-radio::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: var.$gray-dark;
  border-radius: 50%;
  content: "";
}

input[type="checkbox"]:checked + .feedback__control-mark-checkbox::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 22px;
  height: 16px;
  background-image: url("../../img/form-img/icon/form-tick-icon.svg");
  content: "";
}

.feedback__control-label {
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
}

.feedback__group-textarea {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 0 56px;
}

.feedback__input-textarea {
  width: 100%;
  height: 150px;
}

.feedback__button {
  padding: 16px 49px;
  width: 100%;
}

.feedback__note {
  display: block;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
