@use "../global/var.scss";

.form-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 767px) {
    padding: 52px 0 28px;
    background: url("../../img/hero-bg.jpg") no-repeat 0 -56px;

    @media (min-resolution: var.$retina) {
      background: url("../../img/hero-bg@2x.jpg") no-repeat 0 0 /100% 158px;
    }
  }

  @media (min-width: var.$tablet-width) {
    padding: 95px 0 77px;
    background: url("../../img/hero-bg-tab.jpg") no-repeat 0 -56px;

    @media (min-resolution: var.$retina) {
      background: url("../../img/hero-bg-tab@2x.jpg") no-repeat 0 0 /100% 290px;
    }
  }

  @media (min-width: var.$desktop-width) {
    padding: 103px 0 67px;
    background: url("../../img/hero-bg-ds.jpg") no-repeat 0 -56px;

    @media (min-resolution: var.$retina) {
      background: url("../../img/hero-bg-ds@2x.jpg") no-repeat 0 0 /100% 301px;
    }
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 100%;
    height: 57px;
    background: url("../../img/devider-mobile.svg") no-repeat;
    content: "";

    @media (min-width: var.$tablet-width) {
      bottom: 41px;
      background: url("../../img/devider-tablet.svg") no-repeat;
    }

    @media (min-width: var.$desktop-width) {
      bottom: 113px;
      background: url("../../img/devider-desktop.svg") no-repeat;
    }
  }

  background-color: #889fbd;
}

.form-intro__hero {
  margin-bottom: 53px;

  @media (min-width: var.$tablet-width) {
    width: 457px;
    height: 78px;
    margin-bottom: 81px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 166px;
  }
}
