@use "../global/var.scss";

.intro {
  padding: 90px 19px 32px 19px;
  background: url("../../img/hero.jpg") no-repeat;
}

.intro__hero {
  margin-bottom: 117px;
}

.intro__text {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  text-align: center;
  text-transform: uppercase;
}

.intro__text__reasons {
  font-size: var.$small-font-size;
  line-height: var.$small-font-height;
  color: var.$gray-dark;
  text-align: center;
  text-transform: uppercase;
}
