@use "../global/var.scss";

.main-container__hero-bg {
  position: absolute;
  background-color: #a5bdd9;

  &--index {
    top: 145px;
    left: 209px;
    width: 290px;
    height: 220px;


    @media (min-width: var.$tablet-width) {
      top: 130px;
      left: 188px;
      width: 470px;
      height: 360px;
    }

    @media (min-width: var.$desktop-width) {
      left: 390px;
    }
  }

  &--catalog {
    top: 103px;
    left: 133px;
    width: 240px;
    height: 50px;

    @media (min-width: var.$tablet-width) {
      top: 144px;
      left: 209px;
      width: 470px;
      height: 90px;
    }

    @media (min-width: var.$desktop-width) {
      left: 370px;
    }
  }
}
