@use "../global/var.scss";

.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  left: calc(50% - (185px / 2));

  @media (min-width: var.$tablet-width) {
    z-index: 3;
  }
}
