@use "../global/var.scss";
@use "../global/mixins.scss";

.main-nav {
  min-height: 56px;
}

// Общие стили кнопки
.main-nav__toggle {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 19px;
  width: 23px;
  height: 22px;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}


// Кнопка закрытого меню
.main-nav--closed .main-nav__burger {
  display: block;
  position: absolute;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
  }

  &::before {
    transform: translateY(10px);
  }

  &::after {
    transform: translateY(-10px);
  }
}

// Кнопка открытого меню
.main-nav--opened .main-nav__burger {
  &::before,
  &::after {
    z-index: 3;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: var.$white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// No JS
.main-nav--nojs {
  .main-nav__toggle {
    display: none;
  }

  .site-list {
    position: static;
    display: block;
    min-height: 0;
  }
}
