@use "../global/var.scss";
@use "../global/mixins.scss";

.page-footer {
  padding: 28px 18px 23px;

  @media (min-width: var.$tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__hashtag {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  text-transform: uppercase;
  text-align: center;
}

.page-footer__logo {
  text-transform: uppercase;
  text-align: center;
}
