@use "../global/var.scss";
@use "../global/mixins.scss";

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 18px 23px;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 37px 76px 36px 61px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 38px 136px 36px 118px;
  }

  &--catalog {
    @media (max-width: 767px) {
      padding-top: 32px;
    }

    @media (min-width: var.$tablet-width) {
      padding-top: 77px;
      padding-right: 61px;
    }

    @media (min-width: var.$desktop-width) {
      padding-top: 119px;
      padding-right: 119px;
    }
  }
}

.page-footer__hashtag {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 21px;
  line-height: var.$big-font-height;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 0;
  }

  &:hover {
    color: var.$blue;
  }

  &:active {
    color: #b3b3b3;
  }
}

.page-footer__socilal {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 0;
    padding-left: 8px;
  }

  &--catalog {
    @media (min-width: var.$tablet-width) {
      padding-right: 18px;
    }
  }
}

.page-footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  @include mixins.button;
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  text-align: center;

  .page-footer__logo {
    margin-left: 12px;
    fill: var.$black;
  }

  &:hover {
    color: var.$blue;

    .page-footer__logo {
      fill: var.$blue;
    }
  }

  &:active {
    color: #b3b3b3;

    .page-footer__logo {
      fill: #b3b3b3;
    }
  }
}
