@use "../global/var.scss";

.video {
  position: relative;
  margin: 0 auto;
  padding-top: 17px;
  max-width: 280px;

  @media (min-width: var.$tablet-width) {
    max-width: 768px;
    padding-top: 58px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 800px;
    padding-top: 63px;
  }
}

.video__title {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: var.$big-font-size;
  line-height: var.$big-font-height;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 33px;
    font-size: 30px;
  }
}

.video__description {
  margin-bottom: 38px;
  text-transform: uppercase;
  text-align: center;
  color: var.$gray-dark;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 88px;
  }
}

.video__button {
  position: absolute;
  top: 233px;
  left: 116px;
  background-color: transparent;

  @media (min-width: var.$tablet-width) {
    top: 471px;
    left: 360px;
  }

  @media (min-width: var.$desktop-width) {
    top: 473px;
    left: 376px;
  }
}

.video__poster {
  @media (min-width: var.$tablet-width) {
    width: 648px;
    height: 500px;
    margin: 0 auto;
  }

  @media (min-width: var.$desktop-width) {
    width: 800px;
  }
}
