@use "var.scss";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.line-break {
  &--mobile {
    @media (min-width: var.$tablet-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: 767px) and (min-width: var.$desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media (max-width: 1199px) {
      display: none;
    }
  }

  &--mob-tab {
    @media (min-width: var.$desktop-width) {
      display: none;
    }
  }

  &--mob-ds {
    @media (min-width: var.$tablet-width) and (max-width: 1199px) {
      display: none;
    }
  }

  &--tab-ds {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
